@charset "UTF-8";

/*Estilo para telas*/

* {
    margin: 0px;
    padding: 0px;
}
html {
    font-family: arial;
    font-size: 1em;
}

header {
    background-color: lightgray;
    
}
header>h1 {
    text-align: center;
    padding: 10px;
    font-weight: bolder;
}
menu ul {
    list-style-type: none;
    background-color: darkgray;
    padding: 10px;
    display: block;    
    text-align: center;
    
}
menu li {
    display: inline-block;
    color: white;
    background-color: darkslategray;
    padding: 5px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
article {
    width: 600px;
    display: block;
    margin: auto;
}

article h2 {
    text-align: center;
    margin: 20px;
}
article p {
    text-align: justify;
    margin: 10px;
    line-height: 2em;  
}